.postTop {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  color: #3e3e3e;
  margin-top: 20px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}

.subtitle {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  line-height: 20px;
  color: #9a9a9a;
  font-size: 12px;
}
.subtitle span:first-child {
  color: #000;
  font-size: 16px;
}

.firstCommit {
  margin-top: 10px;
}
/*  */
